* {
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
}

body {
  background: hsl(185, 41%, 84%);
}

.logo {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 60px;
}

#container {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  background: hsl(0, 0%, 100%);
  max-width: 80%;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 30px 25px;
  border-radius: 20px;
}

/* STYLES AND CLASSES FOR CONTAINER VALUES
************************************************/

button:hover {
  background-color: hsl(172, 80%, 72%) !important;
  color: hsl(183, 100%, 15%) !important;
}

.label {
  display: block;
  color: hsl(186, 14%, 43%);
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 5px;
}

.input {
  box-sizing: border-box;
  text-align: right;
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
  width: 100%;
  height: 40px;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  border: none;
}
.input::placeholder {
  color: hsl(184, 14%, 56%);
}
.input:focus {
  outline: none;
  border: 3px solid hsl(172, 67%, 45%) !important;
}

#container-values {
  width: 45%;
  box-sizing: border-box;
  margin-left: 10px;
}

#bill-form input {
  background: url(../images/icon-dollar.svg) no-repeat left, hsl(189, 41%, 97%);
  background-position: 20px;
}

#select-tip {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
#select-tip span {
  display: block;
  width: 100%;
  color: hsl(186, 14%, 43%);
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
}
#select-tip button {
  width: 32%;
  height: 40px;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
}
#select-tip input {
  width: 32%;
  height: 40px;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: right;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding-right: 15px;
  margin-bottom: 10px;
}
#select-tip input::placeholder {
  color: hsl(183, 100%, 15%);
  font-size: 20px;
  text-align: center;
}
#select-tip input:focus {
  outline: none;
  border: 3px solid hsl(172, 67%, 45%) !important;
}

#peoples-form input {
  background: url(../images/icon-person.svg) no-repeat left, hsl(189, 41%, 97%);
  background-position: 20px;
}

/* STYLES AND CLASSES FOR CONTAINER RESULTS
************************************************/
#tip-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 40px;
}

.msg {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
}
.value-span {
  display: block;
  margin-left: 50px;
  font-size: 4rem;
  font-weight: 700;
  color: aquamarine;
}

#container-results {
  width: 45%;
  background-color: hsl(183, 100%, 15%);
  margin-right: 10px;
  border-radius: 10px;
}

/* GLOBAL CLASSES
************************************************/

.active {
  background-color: hsl(172, 67%, 45%) !important;
  color: hsl(183, 100%, 15%) !important;
}

.center-text {
  text-align: center;
}
.strong-cyan {
  color: hsl(172, 67%, 45%);
}
.very-dark-cyan {
  color: hsl(183, 100%, 15%);
}
.grayvish-cyan1 {
  color: hsl(186, 14%, 43%);
}
.grayvish-cyan2 {
  color: hsl(184, 14%, 56%);
}
.l-grayvish-cyan1 {
  color: hsl(185, 41%, 84%);
}
.l-grayvish-cyan2 {
  color: hsl(189, 41%, 97%);
}
.white {
  color: hsl(0, 0%, 100%);
}
