.logo {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}

.app {
  min-width: 305px;
  background-color: $white;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 2rem;

  @mixin default-div-input {
    display: flex;
    background-color: $light-grayish-cyan-2;
    border-radius: 5px;

    &:hover,
    &.active {
      box-shadow: 0 0 0 3px $strong-cyan;
    }
  }

  @mixin input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
  }

  @mixin default-input {
    width: 100%;
    color: $very-dark-cyan;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    padding: 0.4rem 1rem;
    background: none;
    border: none;
    outline: none;
  }

  .inputs-box {
    .bill {
      margin-bottom: 2rem;

      .bill-input {
        @include default-div-input;

        .dollar {
          @include input-icon;
        }

        input {
          @include default-input;
        }
      }
    }

    .select-tip {
      margin-bottom: 2rem;

      .tips {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        @mixin default-btn-tip {
          width: 100%;
          font-size: 1.5rem;
          font-weight: bold;
          padding: 0.4rem;
          border-radius: 5px;
          border: none;
        }

        .tip {
          button {
            @include default-btn-tip;
            background-color: $very-dark-cyan;
            color: $white;

            &:hover {
              background-color: $btn-hover;
              color: $very-dark-cyan;
            }

            &.active {
              background-color: $strong-cyan;
              color: $very-dark-cyan;
            }
          }

          .custom-tip {
            @include default-btn-tip;
            background-color: $light-grayish-cyan-2;
            color: $very-dark-cyan;
            text-align: center;
            outline: none;
  
            &::placeholder {
              color: $dark-grayish-cyan-1;
            }
  
            &:hover {
              box-shadow: 0 0 0 3px $strong-cyan;
            }
  
            &:focus,
            &.active {
              text-align: right;
              padding-right: 1rem;
              box-shadow: 0 0 0 3px $strong-cyan;
            }
          }
        }
        
      }
    }

    .number-of-people {
      margin-bottom: 2rem;

      .person-input {
        @include default-div-input;

        .person {
          @include input-icon;
        }

        input {
          @include default-input;
        }
      }
    }
  }

  .results-box {
    background-color: $very-dark-cyan;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    border-radius: 1rem;

    .result-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;

      .description {
        .title {
          color: $white;
        }

        .subtitle {
          color: $light-grayish-cyan-1;
        }
      }
      .value-box {
        .value {
          color: $strong-cyan;
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }

    .btn-reset {
      background-color: $strong-cyan;
      color: $very-dark-cyan;
      width: 100%;
      font-size: 1.3rem;
      font-weight: bold;
      text-transform: uppercase;
      border: 0;
      padding: 0.5rem;
      margin-top: 1rem;
      border-radius: 5px;

      &:hover:not(:disabled) {
        background-color: $btn-hover;
      }

      &:disabled {
        opacity: 0.25;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .app {
    max-width: 60rem;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    margin-bottom: 7rem;

    .results-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .result-item {
        margin-bottom: 1.5rem;

        .value-box {
          .value {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}
