* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  background-color: $light-grayish-cyan-1;
}

img {
  max-width: 100%;
  display: block;
}

button:not(:disabled) {
  cursor: pointer;
  transition: 0.3s;
}

button:disabled {
  cursor: not-allowed;
}

input {
  transition: 0.3s;
}

li {
  list-style: none;
}

.texts {
  display: flex;
  justify-content: space-between;

  .label {
    color: $dark-grayish-cyan-1;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  span {
    display: none;
    
    &.error {
      display: block;
      color: tomato;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }
}
