.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem auto;
}

.app {
  min-width: 305px;
  background-color: white;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 2rem;
}

.app .inputs-box .bill {
  margin-bottom: 2rem;
}

.app .inputs-box .bill .bill-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f4fafa;
  border-radius: 5px;
}

.app .inputs-box .bill .bill-input:hover, .app .inputs-box .bill .bill-input.active {
  -webkit-box-shadow: 0 0 0 3px #26c0ab;
          box-shadow: 0 0 0 3px #26c0ab;
}

.app .inputs-box .bill .bill-input .dollar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
}

.app .inputs-box .bill .bill-input input {
  width: 100%;
  color: #00494d;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  padding: 0.4rem 1rem;
  background: none;
  border: none;
  outline: none;
}

.app .inputs-box .select-tip {
  margin-bottom: 2rem;
}

.app .inputs-box .select-tip .tips {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.app .inputs-box .select-tip .tips .tip button {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.4rem;
  border-radius: 5px;
  border: none;
  background-color: #00494d;
  color: white;
}

.app .inputs-box .select-tip .tips .tip button:hover {
  background-color: #9fe8df;
  color: #00494d;
}

.app .inputs-box .select-tip .tips .tip button.active {
  background-color: #26c0ab;
  color: #00494d;
}

.app .inputs-box .select-tip .tips .tip .custom-tip {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.4rem;
  border-radius: 5px;
  border: none;
  background-color: #f4fafa;
  color: #00494d;
  text-align: center;
  outline: none;
}

.app .inputs-box .select-tip .tips .tip .custom-tip::-webkit-input-placeholder {
  color: #5e7a7d;
}

.app .inputs-box .select-tip .tips .tip .custom-tip:-ms-input-placeholder {
  color: #5e7a7d;
}

.app .inputs-box .select-tip .tips .tip .custom-tip::-ms-input-placeholder {
  color: #5e7a7d;
}

.app .inputs-box .select-tip .tips .tip .custom-tip::placeholder {
  color: #5e7a7d;
}

.app .inputs-box .select-tip .tips .tip .custom-tip:hover {
  -webkit-box-shadow: 0 0 0 3px #26c0ab;
          box-shadow: 0 0 0 3px #26c0ab;
}

.app .inputs-box .select-tip .tips .tip .custom-tip:focus {
  text-align: right;
  padding-right: 1rem;
  -webkit-box-shadow: 0 0 0 3px #26c0ab;
          box-shadow: 0 0 0 3px #26c0ab;
}

.app .inputs-box .number-of-people {
  margin-bottom: 2rem;
}

.app .inputs-box .number-of-people .person-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f4fafa;
  border-radius: 5px;
}

.app .inputs-box .number-of-people .person-input:hover, .app .inputs-box .number-of-people .person-input.active {
  -webkit-box-shadow: 0 0 0 3px #26c0ab;
          box-shadow: 0 0 0 3px #26c0ab;
}

.app .inputs-box .number-of-people .person-input .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
}

.app .inputs-box .number-of-people .person-input input {
  width: 100%;
  color: #00494d;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  padding: 0.4rem 1rem;
  background: none;
  border: none;
  outline: none;
}

.app .results-box {
  background-color: #00494d;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  border-radius: 1rem;
}

.app .results-box .result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.app .results-box .result-item .description .title {
  color: white;
}

.app .results-box .result-item .description .subtitle {
  color: #c5e4e7;
}

.app .results-box .result-item .value-box .value {
  color: #26c0ab;
  font-size: 2rem;
  font-weight: bold;
}

.app .results-box .btn-reset {
  background-color: #26c0ab;
  color: #00494d;
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
}

.app .results-box .btn-reset:hover:not(:disabled) {
  background-color: #9fe8df;
}

.app .results-box .btn-reset:disabled {
  opacity: 0.25;
}

@media screen and (min-width: 769px) {
  .app {
    max-width: 60rem;
    width: 90%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 2rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    margin-bottom: 7rem;
  }
  .app .results-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .app .results-box .result-item {
    margin-bottom: 1.5rem;
  }
  .app .results-box .result-item .value-box .value {
    font-size: 2.5rem;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  background-color: #c5e4e7;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

input {
  -webkit-transition: .3s;
  transition: .3s;
}

li {
  list-style: none;
}

.label {
  color: #5e7a7d;
  font-weight: bold;
  margin-bottom: .5rem;
}
/*# sourceMappingURL=styles.css.map */