.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem auto;
}

.app {
  background-color: white;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 2rem;
}

.app .inputs-box .bill {
  margin-bottom: 2rem;
}

.app .inputs-box .bill .bill-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f4fafa;
  border-radius: 5px;
}

.app .inputs-box .bill .bill-input .dollar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
}

.app .inputs-box .bill .bill-input input {
  width: 100%;
  color: #00494d;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  padding: 0.4rem 1rem;
  background: none;
  border: none;
  outline: none;
}

.app .inputs-box .select-tip {
  margin-bottom: 2rem;
}

.app .inputs-box .select-tip .tips {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.app .inputs-box .select-tip .tips .tip button {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.4rem;
  border-radius: 5px;
  border: none;
  background-color: #00494d;
  color: white;
}

.app .inputs-box .select-tip .tips .tip input {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.4rem;
  border-radius: 5px;
  border: none;
  background-color: #f4fafa;
  color: #00494d;
  text-align: center;
  outline: none;
}

.app .inputs-box .select-tip .tips .tip input::-webkit-input-placeholder {
  color: #5e7a7d;
}

.app .inputs-box .select-tip .tips .tip input:-ms-input-placeholder {
  color: #5e7a7d;
}

.app .inputs-box .select-tip .tips .tip input::-ms-input-placeholder {
  color: #5e7a7d;
}

.app .inputs-box .select-tip .tips .tip input::placeholder {
  color: #5e7a7d;
}

.app .inputs-box .select-tip .tips .tip input:hover, .app .inputs-box .select-tip .tips .tip input:focus {
  -webkit-box-shadow: 0 0 0 3px #26c0ab;
          box-shadow: 0 0 0 3px #26c0ab;
}

.app .inputs-box .number-of-people {
  margin-bottom: 2rem;
}

.app .inputs-box .number-of-people .person-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f4fafa;
  border-radius: 5px;
}

.app .inputs-box .number-of-people .person-input .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
}

.app .inputs-box .number-of-people .person-input input {
  width: 100%;
  color: #00494d;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  padding: 0.4rem 1rem;
  background: none;
  border: none;
  outline: none;
}

.app .results-box {
  background-color: #00494d;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  border-radius: 1rem;
}

.app .results-box .result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.app .results-box .result-item .description .title {
  color: white;
}

.app .results-box .result-item .description .subtitle {
  color: #c5e4e7;
}

.app .results-box .result-item .value-box .value {
  color: #26c0ab;
  font-size: 2rem;
}

.app .results-box .btn-reset {
  background-color: #26c0ab;
  color: #00494d;
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  padding: .5rem;
  margin-top: 1rem;
  border-radius: 5px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  background-color: #c5e4e7;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

.label {
  color: #5e7a7d;
  font-weight: bold;
  margin-bottom: .5rem;
}
/*# sourceMappingURL=styles.css.map */